{% set user = 'msheiny' %}

{% load_yaml as config %}
  user: {{ user | yaml_encode }}
  group: {{ salt['cmd.run']('id -gn '+user) }}
  {% if grains['os'] == 'MacOS' %}
  home: {{ salt['cmd.run']('echo $HOME') }}
  {% else %}
  home: {{ salt['cmd.run']('eval echo "~%s"' %(user)) }}
  {% endif %}
  pline_tmpdir: /tmp/pline-fonts
{% endload %}

{% set gh = "https://github.com" %}
{% set gh_ssh = "git@github.com" %}

{% load_yaml as bootstrap %}
  my_repo_name: dotsheiny
  mac_castle_name: mac-specific
  dotsheiny: {{gh}}/msheiny/dotsheiny.git
  homeshick: {{ gh }}/andsens/homeshick.git
  ohmyzsh_repo: {{ gh }}/robbyrussell/oh-my-zsh.git
  vundle_repo: {{ gh }}/gmarik/Vundle.vim.git
  vbox_version: 5.0
  compose_ver: "1.3.3"
  compose_url: https://github.com/docker/compose/releases/download
  compose_file: /usr/local/bin/docker-compose
  compose_hash: sha256=97ce4770d4857731d952af492800f2fcc3199e8c40b146b994ca48a912e0450c
  vagrant:
    url: https://releases.hashicorp.com/vagrant
    ver: 1.8.1
    hash: d2b2308cb1a7da656f6f7cd926287cd21f3c79bf29bc15f09d7471a93f1ef118
  hub:
    url: https://raw.githubusercontent.com/github/hub/master/etc/hub.zsh_completion
    alg: sha256
    hash: 9ef7c5493f698a906ae50a5b7bbbff9f97b63871e55efe3fb855cf39d6077a8c
{% endload %}

{% set os_config = salt['grains.filter_by']({
    'MacOS': {
        'font_path': config.home + '/Library/Fonts',
    },
    'RedHat': {
        'font_path': '/usr/share/fonts'
    }
}, grain='os', default='RedHat') %}

{% set pkg = salt['grains.filter_by']({
    'RedHat': {
        'sshfs': 'fuse-sshfs',
        'svn': 'subversion',
        'dig': 'bind-utils',
        'vim': 'vim-enhanced',
        'py3': 'python3',
        'locate': 'mlocate',
        'venvwrapper': 'python-virtualenvwrapper',
        'pep8': 'python-pep8',
        'ipy': 'python-ipython',
        'ipy3': 'python3-ipython',
        'py3dev': 'python3-devel',
    },
    'Debian': {
        'sshfs': 'sshfs',
        'svn': 'svn',
        'dig': 'dnsutils',
        'vim': 'vim',
        'py3': 'python3-minimal',
        'locate': 'locate',
        'venvwrapper': 'virtualenvwrapper',
        'pep8': 'pep8',
        'ipy': 'ipython',
        'ipy3': 'ipython3',
        'py3dev': 'python3-dev',
    }
}, grain='os_family', default='RedHat') %}
